<div class="container">
    <div class="no-gutter row">
        <!-- left side column -->
        <div class="col-md-3">
            <div class="panel panel-default" id="sidebar">
                <div class="panel-heading panel-left" >info</div>
                <div class="panel-body">

                </div>
                <!--/panel body-->
            </div>
            <!--/panel-->
        </div>
        <!--/end left column-->

        <!-- right content column-->
        <div class="col-md-9" id="content">
            <div class="panel">
                <div class="panel-heading">Profile</div>
                <div class="panel-body">
                    <div class="row">

                    </div>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
            <!--/end right column-->
        </div>
    </div>
</div>
