<form>
    <div>
        <labal>Product name:</labal>
        <input ng-model="product.name" required/>
    </div>
    <div>
        <labal>Product price:</labal>
        <input ng-model="product.price" required/>
    </div>
    <div>
        <labal>Product colors:</labal>
        <input ng-model="product.params" required/>
    </div>

    <div>
        <select ng-init="product.category_id = options[0]" ng-model="product.category_id" ng-selected="0"
                ng-options="category.id as category.name for category in categories" required></select>
    </div>
</form>
<div ng-app="fileUpload">

    <div class="btn btn-warning" ngf-select ng-model="product.file">Upload image</div>

    <img ng-show="product.file" ngf-src="product.file" ngf-accept="'image/*'" width="275">
</div>
<br/>