<div class="col col-md-offset-1 col-md-6">


    <a href="javascript:history.back()">назад</a>

    <div class="row">
        <h3>Admin edit</h3>
    </div>


    <div>
        <div ng-show="error.message" class="alert alert-success">
            <p>{{error.message}}</p>
        </div>

        <div ng-include src="'admin/goods/_form.html'"></div>
    <div class="row">
        <img ng-hide="product.file" ng-src="{{product.image_uid}}">
    </div>
        <button ng-click="updateProduct()" class="btn btn-primary">Save Product</button>
    </div>
</div>