<div id="popUpDialog-bg" ng-show="showPopUpDialog" >
    <div id="popUpDialog">
        <div class="content" ng-bind-html="popUpDialogContent"></div>
        <div class="clearfix buttons-container">
            <!--<div class="pull-left">
                <button class="btn btn-primary" ng-click="popUpDialogApprove()">Да</button>
            </div>-->
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="closePopUpDialog()">ok</button>
            </div>
        </div>
    </div>
</div>
