<div id="popUpDialog-bg" ng-show="showPopUpDialogTwo" >
    <div id="popUpDialog">
        <div class="content" ng-bind-html="popUpDialogContentTwo"></div>
        <div class="clearfix buttons-container">
            <div class="pull-left">
                <button class="btn btn-primary" ng-click="popUpDialogYes()">Да</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="closePopUpDialogTwo()">Нет</button>
            </div>
        </div>
    </div>
</div>
