<div class="col-md-offset-1 col-md-11">
    <div>
        <h1>Login</h1>
    </div>

    <div flash-message="5000" ></div>

    <div class="row col-md-offset-3 col-md-5 wall">
        <div class="wall">
            <div class="center-block ">
                <form  ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
                    <br>
                    <div ng-show="login_error.message" class="error">
                        <p>{{login_error.message}}</p>
                    </div>

                    <br>
                    <div class="body ">

                        <div class="form-group">
                            <label>email</label>
                            <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
                        </div>
                        <br>
                            <div class="form-group">
                                <label>password</label>
                                <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
                            </div>
                        <br>
                        <br>
                        <div class="col-md-offset-3">
                            <button type="submit" class="btn btn-primary btn-lg">Sign_in</button>
                            or <a ui-sref="account.register" class="btn btn-primary btn-lg"> Sign_up</a>
                            <br>
                            <a ui-sref="account.resetpass">I forgot password</a>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



