<div class="alert alert-danger" role="alert" ng-show="error">
    {{error}}
</div>


<form ng-submit="updateAccount(updateAccountForm)" role="form">
    <fieldset ng-disabled="!user.signedIn">
<!--
        <div>
            <label>name</label>
            <input type="text" name="text" ng-model="updateAccountForm.name">
        </div>

        <div>
            <label>city</label>
            <input type="text" name="text" ng-model="updateAccountForm.city">
        </div>

        <div>
            <label>telephone</label>
            <input type="text" name="text" ng-model="updateAccountForm.telephone">
        </div>
-->

        <div>
            <label>email</label>
            <input type="text" name="text" ng-model="updateAccountForm.email">
        </div>

        <button class="btn-primary btn" ng-click="handleUpdateAccountBtnClick()" type="submit">Update your name sign</button>
    </fieldset>
</form>
<br>
<fieldset ng-disabled="!user.signedIn">
    <a class="btn btn-success" ui-sref="account.reset-password">Изменить пароль</a>
    <!--<a class="btn btn-default" ui-sref="account.destaccount">Удалить аккаунт</a>-->
</fieldset>

