<div class="alert alert-danger" role="alert" ng-show="error">
    {{error}}
</div>

<div class="no-gutter row">
    <div class="col-md-offset-1 col-md-10">
        <div flash-message="5000" ></div>
    </div>
</div>
<div class="col-md-offset-1">
    <form ng-submit="updateAccount(updateAccountForm)" role="form">

        <fieldset ng-disabled="!user.signedIn">
            <br>

            <div class="row">
                <div class="col-md-3">
                    <label>name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="text" ng-model="updateAccountForm.name">
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-3">
                    <label>city</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="text" ng-model="updateAccountForm.city">
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-3">
                    <label>telephone</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="text" ng-model="updateAccountForm.telephone">
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-3">
                    <label>email</label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="text" ng-model="updateAccountForm.email">
                </div>
            </div><br>

            <br>

            <button class="btn-primary btn" ng-click="handleUpdateAccountBtnClick()" type="submit">Update your name sign</button>
        </fieldset>
    </form>
</div>
<br>
<fieldset ng-disabled="!user.signedIn">

    <!--<a class="btn btn-default" ui-sref="account.destaccount">Удалить аккаунт</a>-->
</fieldset>

