<div class="col-md-offset-1 col-md-11">
    <div>
        <h1>Login</h1>
    </div>

    <div class="row col-md-offset-3 col-md-5 wall">
        <div class="wall">
            <div class="center-block ">
                <form>
                    <br>
                    <div ng-show="login_error.message" class="error">
                        <p>{{login_error.message}}</p>
                    </div>
                    <br>
                    <div class="body ">
                        <div ng-class="{error: login_error.errors.email}">
                            Email:
                            <input ng-model="login_user.email" />
                            <div ng-show="login_error.errors.email">
                                <div ng-repeat="field_error in login_error.errors.email">{{field_error}}</div>
                            </div>
                        </div>
                        <br>
                        <div ng-class="{error: login_error.errors.password}">
                            Password:
                            <input type="password" ng-model="login_user.password" />
                            <div ng-show="login_error.errors.password">
                                <div ng-repeat="field_error in login_error.errors.password">{{field_error}}</div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-offset-4">
                            <button ng-click="login()" class="btn btn-primary btn-group-lg">Login</button>
                            or<a ui-sref="register"> Register</a>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>