<div class="col col-md-offset-1">
    <h1>Добро пожаловать! В административную панель.</h1>
    <hr>

    <div class="no-gutter row">
        <div class="col-md-offset-1 col-md-10">
            <div flash-message="5000" ></div>
        </div>
    </div>


    <ul>
        <li><a ui-sref="products.index">Show all products</a></li>
        <li><a ui-sref="products.new">Add Product</a></li>
    </ul>
    <ul>
        <li><a ui-sref="category.index">Show all categories</a></li>
        <li><a ui-sref="category.new">Add Category</a></li>
    </ul>
    <ul>
        <li><a ui-sref="orders.index">Show all orders</a></li>
        <!--<li><a ui-sref="orders.statistic">Add Orders</a></li>-->
    </ul>
</div>





