<div ng-controller="Product">
    <div class="row">
        <div dir-paginate="product in products | filter:{visible:t} | filterPrice:priceFilter | itemsPerPage: pageSize" current-page="AcurrentPage" pagination-id="showPagination">
            <div class="col-md-4 maxheight">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="longtext">
                            <div class="panel-title">
                                <a ui-sref="goods.show({productId: product.id})">{{product.name}}</a>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-offset-1">
                        <br>
                        <div class="row">
                            цвет: {{product.params}}
                        </div>

                        <div ng-include src="'category/_images.html'"></div>

                        <div class="row">
                            цена: {{product.price | currency: "$"}}
                        </div>

                        <mycart-addtocart id="{{product.id}}" price="{{product.price}}" quantity="1" quantity-max="5">Add to Cart
                        </mycart-addtocart>
                        <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <dir-pagination-controls boundary-links="true" pagination-id="showPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="pagination/dirPagination.html"></dir-pagination-controls>
        </div>
        <div class="col-md-2">
            <select  class="selectpicker" ng-model="pageSize" ng-change="setItemsPerPage(pageSize)">
                <option>3</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
            </select>
        </div>
    </div>
</div>