<div ng-repeat="product in products | filter:{visible:t} | filterPrice:priceFilter">
<div class="col-md-4 maxheight">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="longtext">
                <div class="panel-title">
                    <a ui-sref="goods.show({productId: product.id})">{{product.name}}</a>
                </div>
                <div></div>
            </div>
        </div>
        <div class="col-md-offset-1">
            <br>
            <div class="row">
               цвет: {{product.params}}
            </div>

            <div class="row"><img src="//placehold.it/245x100/E7E7E7"></div>
            <div class="row">
                цена: {{product.price | currency: "$"}}
            </div>

            <mycart-addtocart id="{{product.id}}" price="{{product.price}}" quantity="1" quantity-max="5">Add to Cart
            </mycart-addtocart>
            <br>
        </div>
    </div>
    <br>
</div>

</div>