<div ng-include src="'category/_headerhome.html'"></div>

<div class="no-gutter row">
    <div class="col-md-offset-1 col-md-10">
        <div flash-message="5000" ></div>
    </div>
</div>


<div class="container">
    <div class="no-gutter row">
        <!-- left side column -->
        <div class="col-md-3">
            <div class="panel panel-default" id="sidebar">
                <div class="panel-heading panel-left" >Sidebar</div>
                <div class="panel-body">
                    <h1>Категории</h1>
                    <ul class="nav">
                        <div>Цена</div>
                        <div> Min:
                            <input type="text" id="minCost" ng-model="priceFilter.min" />
                        </div>
                        <div>Max:
                            <input type="text" id="maxCost" ng-model="priceFilter.max" />
                        </div>
                    </ul>
                    <hr>
                        <ul class="nav nav-stacked" ng-repeat="category in categories">
                            <li><a ui-sref="categories.show({ categoryId: category.id })">{{category.name}}</a></li>
                        </ul>
                </div>
                <!--/panel body-->
            </div>
            <!--/panel-->
        </div>
        <!--/end left column-->

        <!-- right content column-->
        <div class="col-md-9" id="content">
            <div class="panel">
                <div class="panel-heading">Top Stories</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-offset-0 col-md-3">
                            Products
                            <div class="alert alert-error" ng-show="errors.text">{{errors.text}}</div>
                            <mycart-total></mycart-total>
                        </div>

                    </div>
                    <hr/>
                    <!-- My Products	  -->
                    <div ng-controller="Product">
                        <div class="row">
                            <div ng-include src="'category/_product.html'"></div>
                        </div>
                    </div>

                    <!--/end My Products-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
            <!--/end right column-->
        </div>
    </div>
</div>
