<div class="container">
    <div class="no-gutter row">
        <!-- left side column -->
        <div class="col-md-3">
            <div class="panel panel-default" id="sidebar">
                <div class="panel-heading" style="background-color:#888;color:#fff;">Sidebar</div>
                <div class="panel-body">
                    <ul class="nav">
                        <li><a ui-sref="home">back</a>
                        <li>{{category.name}}</li>
                    </ul>
                    <ul class="nav">
                        <div>Цена</div>
                        <div> Min:<input type="text" id="minCost" ng-model="priceFilter.min"/></div>
                        <div>Max:<input type="text" id="maxCost" ng-model="priceFilter.max"/></div>

                        <div ng-repeat="ncolor in ncolors">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-change="checking(ncolor); broadcast()"
                                           ng-model="ncolor.check"/>
                                    <span>{{ncolor.params}}</span>
                                </label>
                            </div>

                        </div>
                    </ul>
                    <hr>
                </div>
                <!--/panel body-->
            </div>
            <!--/panel-->
        </div>
        <!--/end left column-->

        <!-- right content column-->
        <div class="col-md-9" id="content">
            <div class="panel">
                <div class="panel-heading" style="background-color:#111;color:#fff;">Top Stories</div>
                <div class="panel-body">
                    <div class="row">
                        Products
                        <div class="alert alert-error" ng-show="errors.text">{{errors.text}}</div>
                        <ngcart-summary></ngcart-summary>
                    </div>
                        <div ng-repeat="product in products | filterColor:Filtr | filter:{visible:t} | filterPrice:priceFilter">
                            <div class="cartbox">
                                <p>{{product.name}}</p>

                                <div class="redblok"></div>
                                <p>цена: {{product.price | currency: "$"}}</p>

                                <p>цвет: {{product.params}}</p>
                                <ngcart-addtocart id="{{product.id}}" name="{{product.name}}" price="{{product.price}}" quantity="1"
                                                  quantity-max="5">Add to Cart
                                </ngcart-addtocart>
                            </div>
                        </div>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
            <!--/end right column-->
        </div>
    </div>
</div>

