.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.selectpicker {
  margin-top: 20px;
  margin-left: -0px;
  border-radius: 0;
  background: transparent;
  height: 30px;
  padding: 1px;
  border: 1px solid #DDDDDD;
  font-size: 12px;
  line-height: 1;
/*  -webkit-appearance: none;
  -moz-appearance: none;*/
  width: 40%;
}
