<div ng-show="error.message" class="alert alert-success">
    <p>{{error.message}}</p>
</div>
admin/orders/iindex.html
<div ng-repeat="order in orders">
    {{order.id}}
    {{order.name}}
    {{order.telephone}}
    {{order.city}}
    {{order.cart}}
    {{order.status}}
    <a ui-sref="orders.edit({orderId: order.id})" > edit</a>
    <a ui-sref="orders.delete({orderId: order.id})" ng-click="deleteOrder(order.id)" class="glyphicon glyphicon-remove"></a>

    <div ng-repeat="product in order.products">
        {{product.product_id}}
        {{product.quantity}}
    </div>

</div>