<div>
    <div class="row col-md-6 col-md-offset-3">
        <div class=" alert alert-success" ng-show="error.message">{{error.message}}
            <a class="pull-right" href="#" ng-click="CleanMessage()">X</a>
        </div>
        <div class="alert alert-danger" ng-show="error.danger">{{error.danger}}
            <a class="pull-right" href="#" ng-click="CleanMessage()">X</a>
        </div>

        <div class="alert alert-warning" ng-show="error.text">{{error.text}}
            <a class="pull-right" href="#" ng-click="CleanMessage()">X</a>
        </div>
    </div>

    <br><br>



    <div ng-hide="error.message ||  error.danger" class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-lg-8">Оформление заказа!</div>
                            <div class="col-md-4">
                                <a href="" class="pull-right btn-circle btn-info" ng-click="dialogInfo()">
                                    help
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <form novalidate>
                    <div class="col-md-offset-1">
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <labal>Имя и фамилия:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.name" required/>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <labal>Город:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.city" required/>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <labal>Мобильный телефон:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.telephone" required/>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-6">
                                <labal>Эл. почта:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.email" required/>
                            </div>
                        </div>
                        <br>
                        <button ng-click="Checkout()" class="btn btn-primary">Далее</button>
                        <br>
                        <br>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
<pop-up-dialog></pop-up-dialog>
<pop-up-dialog-two></pop-up-dialog-two>
