<div>
    <div class="alert alert-error" ng-show="errors.text">{{errors.text}}</div>
    <div class="alert alert-error" ng-show="error.message">{{error.message}}</div>
<br><br>
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <div class="panel-title">Оформление заказа!</div>
                </div>
                <form>
                    <div class="col-md-offset-1">
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <labal>Имя и фамилия:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.name" required/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <labal>Город:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.city" required/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <labal>Мобильный телефон:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.telephone" required/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <labal>Эл. почта:</labal>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="order.email" required/>
                            </div>
                        </div>
                        <br>
                        <button ng-click="Checkout()" class="btn btn-primary">Далее</button>
                        <br>
                        <br>
                    </div>
                </form>




            </div>
        </div>
    </div>

</div>