

<!--

<div class="container" ng-controllers="StepOneController">
				<div class="row">
				<div class="col-xs-3 category-item"
					 ng-repeat="category in categories"
					 ng-click="setCurrentCategory(category)"
					 ng-class="{'current-{{category.name}}':isCurrentCategory(category)}">
				<strong>{{category.display}}</strong>
				</div>
				</div>
				<h4>Active Category: {{currentCategory.display}}</h4>
			</div>
-->
