<div class="navbar-inner">
	<h1>Категории</h1>
	<div class="navbar-collapse">
		<ul class="nav">
		  <li><a href="/notebooks">Ноутбуки</a></li>
		  <li><a href="/telephons">Телефоны</a></li>
		  <li><a href="/display">Мониторы</a></li>
		</ul>
	</div>
</div>

<!--

<div class="container" ng-controller="StepOneController">
				<div class="row">
				<div class="col-xs-3 category-item"
					 ng-repeat="category in categories"
					 ng-click="setCurrentCategory(category)"
					 ng-class="{'current-{{category.name}}':isCurrentCategory(category)}">
				<strong>{{category.display}}</strong>
				</div>
				</div>
				<h4>Active Category: {{currentCategory.display}}</h4>
			</div>
-->
